<div class="container wrapper">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6">
            <h5 class="text-center">🌮🐈<br>Sign In</h5>
            <form (submit)="login()">
                <mat-form-field class="w-100">
                    <input matInput placeholder="Username" name="username" [(ngModel)]="user.username">
                </mat-form-field>
                <mat-form-field class="w-100">
                    <input type="password" matInput placeholder="Password" name="password" [(ngModel)]="user.password">
                </mat-form-field>
                <button type="submit" mat-raised-button color="primary">Sign In</button>
                <mat-spinner [diameter]="50" class="centered" *ngIf="fetching"></mat-spinner>
            </form>
        </div>
    </div>
</div>