@import "~@angular/material/prebuilt-themes/indigo-pink.css";

.pointer {
    cursor: pointer;
}
.default {
    cursor: default;
}
.wrapper {
    padding: 20px;
}
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
}